<h1>Listing noticias</h1>

<table>
  <tr>
  </tr>

<% @noticias.each do |noticia| %>
  <tr>
    <td><%= link_to 'Show', noticia %></td>
    <td><%= link_to 'Edit', edit_noticia_path(noticia) %></td>
    <td><%= link_to 'Destroy', noticia, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New noticia', new_noticia_path %>